.table th{
  position: -webkit-sticky;
  position: sticky;
  background-color: inherit;
  color: inherit;
  top: 0;
}
.table th::after{
  content: "";
  width: 100%;
  height: 0.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
}

.table fixed {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

div.scroll {
  background-color: #fed9ff;
  width: 600px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.bottom {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;  
}

#main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.basicLayoutMain {
  flex: 1;
  top: 0;
}

footer {
  bottom: 0;
}
